a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text], input[type=tel], input[type=email], input[type=password], select {
  border: none;
  outline: none;
  background-color: transparent;
}

.authorization form, .registration form, .projects .container .project-info, .projects .container, footer, .profile .info, .profile .container, .profile, .cards, .main, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.orange {
  border: 1px solid #FF3D00;
  color: #FF3D00;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: #fff;
  font-size: 14px;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
}
.btn.orange:hover {
  border: 1px solid #FF3D00;
  color: #FF3D00;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: #fff;
  font-size: 14px;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
  background-color: #FF3D00;
  color: #fff;
  cursor: pointer;
}
.btn.blue {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: #fff;
  font-size: 14px;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
}
.btn.blue:hover {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: #fff;
  font-size: 14px;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
  background-color: #0085FF;
  color: #fff;
  cursor: pointer;
}
.btn.white {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: #fff;
  font-size: 14px;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
  background-color: #0085FF;
}
.btn.white:hover {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding: 10px 0;
  background-color: #fff;
  font-size: 14px;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  color: #0085FF;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

section {
  margin-bottom: 80px;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #F7F7F7;
}

header {
  padding: 38px 0;
}
header .burger-menu {
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}
header .burger-menu:hover {
  background-color: #c82380;
}
header .line {
  width: 18px;
  height: 2px;
  background-color: #202020;
  margin-bottom: 5px;
}
header .line:last-child {
  margin-bottom: 0;
}
header .active {
  color: #EF5DA8;
  /*fill: $orange;*/
}
header .active:hover {
  color: #FF3D00;
}
header nav a {
  margin-left: 20px;
}
header path {
  transition: 0.5s;
  fill: #202020;
}
header path:hover {
  fill: #FF3D00;
}

.main .rectangle.cover {
  position: relative;
  width: 100%;
  padding-top: 35%;
  width: 49%;
  background-color: #0085FF;
  border-radius: 8px;
}
.main .rectangle.cover img, .main .rectangle.cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .rectangle.cover img {
  border-radius: 8px;
}
.main .rectangle h2 {
  font-size: 20px;
  color: #fff;
  padding: 38px 55px;
}

.cards .card {
  width: 18%;
  background: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.cards .card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.cards .card .cover img, .cards .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .card .cover img {
  border-radius: 8px 8px 0 0;
}
.cards .card .card-content {
  padding: 10px;
}
.cards .card .title {
  font-size: 16px;
  line-height: 20px;
  color: #202020;
  margin: 0 0 14px;
}
.cards .card .desc {
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin: 0 0 8px;
}
.cards .card .duration {
  font-size: 10px;
  line-height: 12px;
  color: #202020;
  margin: 0 0 7px;
}

.form {
  padding-bottom: 80px;
  margin-bottom: 0;
}

form {
  width: 28.3636363636%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  padding: 15px 20px 35px;
  /*@extend %container;
  flex-direction: column;*/
}
form input[type=text], form input[type=tel], form input[type=email], form input[type=password], form select {
  width: 93%;
  border: 1px solid #939393;
  border-radius: 6px;
  margin-bottom: 13px;
  color: #939393;
  font-size: 10px;
  line-height: 12px;
  padding: 7px 10px;
}
form input[type=text]:hover, form input[type=text]:checked, form input[type=text]:visited, form input[type=text]:active, form input[type=tel]:hover, form input[type=tel]:checked, form input[type=tel]:visited, form input[type=tel]:active, form input[type=email]:hover, form input[type=email]:checked, form input[type=email]:visited, form input[type=email]:active, form input[type=password]:hover, form input[type=password]:checked, form input[type=password]:visited, form input[type=password]:active, form select:hover, form select:checked, form select:visited, form select:active {
  border: 1px solid #0085FF;
  color: #0085FF;
}
form select {
  width: 100%;
  margin-bottom: 26px;
  cursor: pointer;
}
form option {
  color: #202020;
  font-size: 12px;
  transition: 0.4s;
}
form h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 26px;
}

.profile {
  background-color: #0085FF;
  align-items: stretch;
  color: white;
  padding: 33px;
  border-radius: 8px;
}
.profile .container {
  width: 45%;
  align-items: stretch;
}
.profile .container:last-child {
  flex-direction: column;
}
.profile .cover {
  position: relative;
  width: 100%;
  padding-top: 48%;
  width: 48%;
}
.profile .cover img, .profile .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile .cover img {
  border-radius: 12px;
}
.profile h3 {
  margin-bottom: 3px;
}
.profile p {
  font-size: 12px;
}
.profile .info {
  flex-direction: column;
}
.profile .info-text .name {
  margin-bottom: 20px;
}
.profile .info a {
  width: 100%;
}

footer {
  width: 1100px;
  margin: 0 auto;
  background-color: #202020;
  padding: 37px 10px 42px;
}
footer h3, footer p {
  color: #fff;
}
footer h3 {
  font-size: 16px;
}
footer p {
  font-size: 12px;
}

.projects {
  padding-bottom: 80px;
  margin-bottom: 0;
}
.projects h2 {
  font-size: 20px;
  margin-bottom: 25px;
}
.projects .container .project-info {
  width: 9.9090909091%;
  flex-direction: column;
}
.projects .container .project-info h4 {
  font-size: 12px;
  margin: 7px 0;
}
.projects .container .project-info p {
  font-size: 10px;
  text-align: center;
  padding: 0 6px;
}

.authorization, .registration {
  margin-bottom: 0;
  padding-bottom: 80px;
}
.authorization form, .registration form {
  width: 40.9090909091%;
  padding: 15px 20px 11px;
  flex-direction: column;
}
.authorization form input[type=email], .authorization form input[type=password], .authorization form input[type=text], .registration form input[type=email], .registration form input[type=password], .registration form input[type=text] {
  width: 95%;
}
.authorization form input[type=button], .registration form input[type=button] {
  margin-bottom: 46px;
}
.authorization form p, .registration form p {
  font-size: 12px;
  margin-bottom: 13px;
}

/*# sourceMappingURL=style.css.map */
